<!--sidebar-->
<c-sidebar
    #sidebar="cSidebar"
    class="d-print-none sidebar sidebar-fixed"
    id="sidebar"

    visible>
    <c-sidebar-brand
            [brandFull]="{
      src: 'assets/img/brand/sowaid-logo.svg',
      width: 180,
      height: 40,
      alt: 'Sowaid Logo'
    }"
            [brandNarrow]="{
      src: 'assets/img/brand/sowaid-sm-logo.svg',
      width: 46,
      height: 46,
      alt: 'Sowaid Logo'
    }"
            routerLink="./dashboard"
    >
    </c-sidebar-brand>
    <ng-scrollbar>
        <c-sidebar-nav scrollViewport
                       [navItems]="navItems"
                       dropdownMode="close"

        >
        </c-sidebar-nav>
    </ng-scrollbar>

    <c-sidebar-footer>
        <c-input-group>
            <input aria-describedby="button-addon2"
                   aria-label="Search"
                   cFormControl
                   placeholder="Search"
            />
            <button cButton color="light" id="button-addon2">
                <svg [cIcon]="icons.cilZoom"
                     title="search"></svg>
            </button>
        </c-input-group>


    </c-sidebar-footer>
    <c-sidebar-toggler
            *ngIf="!sidebar.narrow"
            toggle="unfoldable"
            cSidebarToggle="sidebar"
    ></c-sidebar-toggler>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column  min-vh-100 dark:bg-transparent">
    <!--app-header-->
    <app-default-header class="d-print-none header header-sticky" position="sticky"
                        sidebarId="sidebar"></app-default-header>
    <!--app-body-->
    <div class="body flex-grow-1 px-3 bg-light ">
        <c-container breakpoint="lg" class="h-auto  mt-2">
            <router-outlet></router-outlet>
        </c-container>
    </div>

</div>
