
.dropdown-item {
  text-align: start;
}

.rounded-end {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}
.rounded-start {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

}


